* {
   box-sizing: border-box;
   margin: 0;
   padding: 0; 
}

body {
    display: block;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.header {
    background-color: #1F2937;
    padding: 24px;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0px 4px 8px rgb(17, 23, 31);
}

.header .container {
    display: flex;
    align-items: center;
}

.container {
    max-width: 1000px;
    margin-inline: auto;
}

.links {
    display: flex;
    margin-left: auto;
}

.links a {
    font-size: 18px;
    color: white;
}

ul {
    list-style-type: none;
    gap: 24px;
}

.logo {
    color: white;
    font-size: 24px;
}

a {
    text-decoration: none;
}

.hero {
    background-color: #1f2937;
    padding: 48px 24px;
}

.hero img {
    width: 360px;
    max-width: 100%;
}

.hero .container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 24px;
    padding: 48px 0px;
}

.hero h1 {
    font-size: 48px;
    font-weight: 900;
    color: white;
}

.hero p {
    font-size: 18px;
    color: #e5e7eb;
    margin-top: 8px;
    margin-bottom: 16px;
}

.herocontent {
    flex: 1;
    flex-basis: 400px;
}

button {
    outline: none;
    border: none;
    padding: 8px 24px;
    border-radius: 8px;
    font-size: inherit;
    cursor: pointer;
}

.hero button {
    background-color: #3882f6;
    color: white;
}

.info {
    padding: 48px 24px;
}

.info h2 {
    text-align: center;
    font-size: 36px;
    font-weight: 900;
}

.info .container {
    display: flex;
    margin-top: 48px;
    display: flex;
    gap: 32px;
    justify-content: center;
    flex-wrap: wrap;
}

.info img {
    max-width: 100%;
}

.info .card {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    gap: 16px;
    flex-basis: 150px;
    
}

.info .image {
    border: 2px solid #3882f6;
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
}

.image img {
    width: 64px;
    height: 64px;
}

.quote {
    padding: 48px 24px;
    background-color: #e5e7eb;
}

.quote-text {
    font-size: 36px;
    font-weight: 300;
    font-style: italic;

}

.quote-author {
    text-align:  right;
    font-size: 20px;
    margin-top: 24px;
}

.modal {

    padding: 48px 24px;
}

.modal .container {
    display: flex;
    justify-content: space-evenly;
    background-color: #3882f6;
    padding: 32px 64px;
    border-radius: 8px;
    align-items: center;
}

.modal .text {
    color: white;
}

.modal button {
    background: none;
    border: 2px solid white;
    color: white;
    flex-shrink: 0;
}

.footer {
    text-align: center;
    padding: 24px;
    background-color: #1f2937;
    color: white;
}

